h1 {
    text-align: center;
}

#main-container {
    width: 700px;
    height: 700px;
    border: 5px solid black;
    margin: auto;
    display: flex;
}

#btn-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: auto;
    padding-top: 50px;
}

#slider-div {
    display: flex;
    gap: 20px;
}